# Konfigurasi Database
DATABASE_URL="postgresql://user:password@host:port/dbname"
MONGODB_URI="mongodb://user:password@localhost:27018/dbname?authSource=admin"

# Konfigurasi OpenRouter
API_URL="https://openrouter.ai/api/v1"
KEY="your_openrouter_api_key_here"

# Konfigurasi Supabase
SUPABASE_URL="https://your-project-id.supabase.co"
SUPABASE_KEY="your_supabase_anon_key_here"

# Konfigurasi Google OAuth
# client = your_google_client_id_here
# secret google = your_google_client_secret_here